* {
  margin: 0;
  padding: 0;
}

body {
  background: transparent;
}

.dgs {
  position: fixed;
  left: 0;
  top: 0;
}

.dgsWindow {
  background: #222;
  color: #fff;
  border: 0;
  box-shadow: 0 0.50rem 1rem rgba(48,55,66,.15);
  font-family: Roboto;
  border-radius: 5px;
}

.dgsWindow .title {
  padding: .8rem;
  padding-bottom: 0;
}

.dgsWindow .body {
  flex: 1 1 auto;
  padding: .8rem;
  padding-bottom: 0;
}

.btn {
  position: absolute;
  display: inline-block;
  padding: auto;
  font-size: 15px;
  text-align: center;
  background: rgba(255,255,255,.075);
  color: #eee;
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all .2s;
}

.btn:hover {
  background: #3498db;
}

.edit {
  position: absolute;
  color: #fff;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  background: rgba(255,255,255,.075);
  border: 0 solid #000;
}

.edit[type=text]:focus {
  border: none;
}

.textarea {
  font-family: Roboto;
  position: absolute;
  color: #fff;
  padding-left: 15px;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  background: rgba(255,255,255,.075);
  border: 0 solid #000;
}
